.list_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .list_wrapper {
    display: flex;
    justify-content: center;
    .list_table_wrapper {
      margin-top: 5%;
      box-shadow: 10px 5px 5px black;
      border: 1px solid gray;
      @media screen and (max-device-width: 600px) {
        font-size: 46px;
        line-height: 4;
        border: none;
        box-shadow: none;
        margin-top: 10%;
      }
    }
    .list_box_wrapper {
      text-align: center;
    }
  }
}

.layout {
  max-width: 1280px;
  width: 100vw;
}

.content_font_size {
  font-size: min(2vw, 32px);
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  .pagination_container {
    @media screen and (min-device-width: 601px) {
      float: right;
      width: 50%;
      text-align: right;
    }
    @media screen and (max-device-width: 600px) {
      text-align: center;
      font-size: 46px;
      position: absolute;
      top: 5%;
      width: 100%;
    }
    select {
      margin: 0 2%;
      @media screen and (max-device-width: 600px) {
        font-size: 46px;
      }
    }
    button {
      background: transparent;
      margin-left: 2%;
      vertical-align: middle;
      @media screen and (max-device-width: 600px) {
        font-size: 46px;
        width: 7vw;
      }
    }
  }
}
